{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<table style="width: 100%">
    <tr class="nadpis">
            <td>
                Pozícia
            </td>
            <td>
                Chybu spôsobil
            </td>
            <td>
                Druh chyby
            </td>
            <td>
                Popis chyby
            </td>
            <td>
                Priemerne trvanie
            </td>
            <td>
                Priemerna frekvencia za
                <select name="freq" id="freq">
                  <option value="week">týždeň</option>
                  <option value="month">mesiac</option>
                  <option value="6months">pol rok</option>
                  <option value="year">rok</option>
                </select>
            </td>
            <td>
                Vyskyt v poslednom

                <select name="freq" id="freq2">
                  <option value="week">týždeň</option>
                  <option value="month">mesiac</option>
                  <option value="6months">pol rok</option>
                  <option value="year">rok</option>
                </select>
            </td>
            <td>
                Uprava
            </td>
    </tr>
    {% for item in errors %}
        <tr>
            <td>
                {{ item.miesto_na_linke.miesto }}
            </td>
            <td>
                {{ item.sposobena_kym.kym }}
            </td>
            <td>
                {{ item.druh_chyby.nazov }}
            </td>
            <td>
                {{ item.popis }}
            </td>
            <td>
                vypocitat v pythone
            </td>
            <td>
                vypocitat v pythone
            </td>
            <td>
                vypocitat v pythone
            </td>
            <td>
            <button onclick="presmerovanie('{{ item.id }}', '/typy/pridaj', 'GET')">UPRAVIŤ</button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock maincontent %}

{% block footer%}
<div class="pridaj">
    <button onclick="presmerovanie(null, '/typy/pridaj', 'GET')"> Pridaj nový typ</button>
</div>
{% endblock footer%}