{% extends 'base.html' %}
{% load static %}
{% block maincontent %}

    {% if 'view_grafy' in permissions %}

<form method="post">
    {% csrf_token %}
<div class="w-100">
    <br>
    <div class="m-1">

&nbsp;

<label for="casoveObdobie">Časové obdobie <span class="input_required">*</span></label>
        <select name="casoveObdobie" id="casoveObdobie">
            <option {% if 1 == casoveObdobieOld %} selected {% endif %} value="1">DEŇ</option>
            <option {% if 7 == casoveObdobieOld %} selected {% endif %} value="7">TÝŽDEŇ</option>
            <option {% if 30 == casoveObdobieOld %} selected {% endif %} value="30">MESIAC</option>
            <option {% if 365 == casoveObdobieOld %} selected {% endif %} value="365">ROK</option>
        </select>
    </div>
    <br>
    <div class="m-1">
        &nbsp;<label for="beginDate">Od <span class="input_required">*</span></label>
        <input id="beginDate" name="beginDate" type="date" height="1000" required value="{{ beginDateOld }}">
        <br>
        &nbsp;<label for="endDate">Do <span class="input_required">*</span></label>
        <input id="endDate" name="endDate" type="date" height="1000" required value="{{ endDateOld }}">
    </div>
    <br>
    <div class="m-1">
        &nbsp;<label for="cisloZariadenia">Miesto na linke</label>
        <select name="cisloZariadenia" id="cisloZariadenia" onchange="skontrolujPravoNaPopisTypuChyby()">
            <option value=""></option>
            {% for zariadenie in zariadenia %}
                <option {% if zariadenie.id == cisloZariadeniaOld %} selected {% endif %} value="{{ zariadenie.id }}">{{ zariadenie.miesto }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="w-100">
    <br>
    <div>
        &nbsp;&nbsp;<label for="druhChyby">Druh chyby</label>
        <select name="druhChyby" id="druhChyby" onchange="skontrolujPravoNaPopisTypuChyby()">
            <option value=""></option>
            {% for chyba in druhyChyb %}
                <option {% if chyba.id == druhChybyOld %} selected {% endif %} value="{{ chyba.id }}">{{ chyba.nazov }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="m-1">
        &nbsp;<label for="chybuSposobil">Chybu spôsobil</label>
        <select name="chybuSposobil" id="chybuSposobil" onchange="skontrolujPravoNaPopisTypuChyby()">
            <option value=""></option>
            {% for spo in sposobeneKym %}
                <option {% if spo.id == chybuSposobilOld %} selected {% endif %} value="{{ spo.id }}">{{ spo.kym }}</option>
            {% endfor %}

        </select>
    </div>
    <br>
    <div class="m-1" id="popisTypuChybyDiv" hidden>
        &nbsp;<label for="popisTypuChyby">Popis typu chyby</label>
        <select name="popisTypuChyby" id="popisTypuChyby" {% if popisTypuChybyOld <= 0 %} disabled{% endif %}>
            <option value=""></option>
            {% for popis in popisyTypovChyby %}
                <option {% if popis.id == popisTypuChybyOld %} selected {% endif %} value="{{ popis.id }}" data-chyba="{{ popis.druh_chyby_id }}" data-kym="{{ popis.sposobena_kym_id }}" data-zariadenie="{{ popis.miesto_na_linke_id }}">{{ popis.popis }}</option>
            {% endfor %}    
        </select>
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">Vygenerovať</button>

</div>
</form>

    <script>
        function skontrolujPravoNaPopisTypuChyby(){
            var cisloZariadenia = document.getElementById("cisloZariadenia");
            var druhChyby = document.getElementById("druhChyby");
            var chybuSposobil = document.getElementById("chybuSposobil");
            var popisTypuChybyDiv = document.getElementById("popisTypuChybyDiv");
            var popisTypuChyby = document.getElementById("popisTypuChyby");
            if (cisloZariadenia.value !== ''
                && druhChyby.value !== ''
                && chybuSposobil.value !== '') {
                popisTypuChybyDiv.hidden = false;
                popisTypuChyby.disabled = false;
                for (const elem in popisTypuChyby.options){
                    if (popisTypuChyby.options[elem].value === ''){
                        continue;
                    }
                    if (popisTypuChyby.options[elem].getAttribute("data-chyba") === druhChyby.value
                        && popisTypuChyby.options[elem].getAttribute("data-kym") === chybuSposobil.value
                        && popisTypuChyby.options[elem].getAttribute("data-zariadenie") === cisloZariadenia.value){
                        popisTypuChyby.options[elem].hidden = false;
                        popisTypuChyby.options[elem].style = false;
                    }else {
                        popisTypuChyby.options[elem].hidden = true;
                    }
                    console.log(popisTypuChyby.options[elem]);
                }
            } else {
                popisTypuChybyDiv.hidden = true;
                popisTypuChyby.disabled = true;
            }
        }

        skontrolujPravoNaPopisTypuChyby();
    </script>

    <div class="container" style="width: 75%;">
        <canvas id="graf"></canvas>
    </div>

    <script>
        function createChart(){
            var graf = document.getElementById("graf").getContext("2d");
            new Chart(graf, {
                type: "bar",
                data: {
                    labels: {{ grafLabels|safe }},
                    datasets: [{
                        label: "Graf chýb",
                        backgroundColor: {{ grafColors|safe }},
                        data: {{ grafData|safe }}
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1
                            }
                        }]
                    }
                }
            });
        }
        createChart();
    </script>

    {% endif %}
{% endblock maincontent %}
{% block footer%}
{% endblock footer%}
