{% load static %}

<header>

    <div class="row list-group list-group-horizontal-lg" >
        <ul class="list-group list-group-horizontal-lg" style="background-color: #00538B">

            <li class="list-group-item step " style="background-color: #00538B"><img alt="" width="100" height="100" src="{% static '/img/logo.png' %}" ></li>

            {% if 'view_chyba' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo " href={% url "zaznamy" %}> <br>Záznamy o chybách</a></li>
            {% endif %}

            {% if 'view_typchyby' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"> <a class="list-group-item step colo" href={% url "typy" %}><br>Typy chýb</a></li>
            {% endif %}

            {% if 'view_grafy' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo" href={% url "grafy" %}><br>Grafy </a></li>
            {% endif %}

            {% if 'view_typrevizie' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo" href={% url "revizia" %}><br>Revízia</a></li>
            {% endif %}

            {% if request.user.is_staff %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo" href={% url "admin:index" %}><br>Admin Konzola</a></li>
            {% endif %}

           <li> &nbsp;&nbsp; &nbsp;&nbsp; {{ request.user.username }}
            <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button onclick="presmerovanie('/logout', 'GET',null)"> ODHLÁSIŤ SA </button> </li>

        </ul>
    </div>

</header>