{% load static %}

<header>

    <div class="row list-group list-group-horizontal-lg" >
        <ul class="list-group list-group-horizontal-lg" style="background-color: #00538B">

            <li class="list-group-item step " style="background-color: #00538B"><img alt="" width="50" height="50" src="{% static '/img/logo.png' %}" ></li>

            {% if 'view_chyba' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo" href={% url "zaznamy" %}>Záznamy o chybách</a></li>
            {% endif %}

            {% if 'view_typchyby' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"> <a class="list-group-item step colo" href={% url "typy" %}>Typy chýb</a></li>
            {% endif %}

            {% if 'view_grafy' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo" href={% url "grafy" %}>Grafy </a></li>
            {% endif %}

            {% if 'view_typrevizie' in permissions %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo" href={% url "revizia" %}>Revízia</a></li>
            {% endif %}

            {% if request.user.is_staff %}
            <li class="list-group-item step " style="background-color: #00538B"><a class="list-group-item step colo" href={% url "admin:index" %}>Admin Konzola</a></li>
            {% endif %}

            <li>{{ request.user.username }}
            <br> <button onclick="presmerovanie('/logout', 'GET',null)"> ODHLÁSIŤ SA </button> </li>

        </ul>
    </div>

</header>