{% extends 'base.html' %}
{% load static %}
{% block maincontent %}

<form method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
       <div class="row ">
        <div class="first justify-content-center">
            <div class=" justify-content-center width_form_fields">
                {{form.miesto_na_linke.label}}<span class="textHviezda">*</span><br>
                {{form.miesto_na_linke}}
            </div>
            <br>
            <br>
            <div class=" justify-content-center width_form_fields">
                {{form.sposobena_kym.label}}<span class="textHviezda">*</span><br>
                {{form.sposobena_kym}}
            </div>
            <br><br>
            <div class=" justify-content-center width_form_fields">
                {{form.druh_chyby.label}}<span class="textHviezda">*</span><br>
                {{form.druh_chyby}}
            </div>
        </div>
        <div class="col-3 first">
            <div class=" justify-content-center width_form_fields">
                {{form.vznik.label}} <span class="textHviezda">*</span><br>
                {{form.vznik}}
                {{form.vznik_cas}}
            </div>
            <br><br>
            <div class=" justify-content-center width_form_fields">
                {{form.popis.label}}<span class="textHviezda">*</span><br>
                {{form.popis}}
            </div>
            <br><br>
            <div class=" justify-content-center width_form_fields">
                {{form.dovod.label}}<br>
                {{form.dovod}}
            </div>
        </div>
         <div class="col-4 first" style="border:1px solid black; border-radius: 10%;">
            <div class=" justify-content-center width_form_fields">
                {{form.vyriesena.label}} <br>
                {{form.vyriesena}}
            </div>
             <br><br>
            <div class=" justify-content-center width_form_fields">
                {{form.vyriesenie.label}}<span class="textHviezda">*</span><br>
                {{form.vyriesenie}}
                {{form.vyriesenie_cas}}
            </div>
             <br><br>
            <div class=" justify-content-center width_form_fields">
                {{form.opatrenia.label}}<span class="textHviezda">*</span><br>
                {{form.opatrenia}}
            </div>
             <br><br>
            <div class=" justify-content-center width_form_fields">
                {{form.nahradny_diel.label}}<br>
                {{form.nahradny_diel}}
            </div>
             <br>
             <br>
        </div>
    </div>



<table class="potvrd potvrd_body" >
    <thead>
    <tr class="nadpis">
            <td>
                Pozícia
            </td>
            <td>
                Chybu spôsobil
            </td>
            <td>
                Druh chyby
            </td>
            <td>
                Popis chyby
            </td>
            <td>
                Priradenie<span class="textHviezda">*</span>
            </td>
    </tr>

    </thead>
    <tbody >
    {% for item in typy %}
        <tr >
            <td>
                {{ item.miesto_na_linke.miesto }}
            </td>
            <td>
                {{ item.sposobena_kym.kym }}
            </td>
            <td>
                {{ item.druh_chyby.nazov }}
            </td>
            <td>
                {{ item.popis }}
            </td>
            <td>
                <input type="checkbox" onchange="zmen('{{item.id}}')" id="{{item.id}}">
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<br>
<br>
<br>

</form>

<div class="pridaj" onclick="skontroluj_vyplnenie_pri_vyrieseni()">
        <button type="submit" id="potvrd" disabled="true" onclick="presmerovanie('/zaznamy/potvrd', 'PUT', '{{ item.id }}')">POTVRĎ</button>
</div>


{% endblock maincontent %}

{% block footer%}
{% endblock footer%}


