{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<table style="width: 100%">
    <tr class="nadpis">
            <td>
                Meno
            </td>
            <td>
                Priezvisko
            </td>
            <td>
                e-mail
            </td>
            <td>
                ÚPRAVA
            </td>
            <td>
                ODSTRÁNENIE
            </td>
    </tr>
    {% for pouzivatel in pouzivatelia %}
        <tr>
            <td>
                {{ pouzivatel.meno }}
            </td>
            <td>
                {{ pouzivatel.priezvisko }}
            </td>
            <td>
                {{ pouzivatel.email }}
            </td>
            <td>
                <button onclick="presmerovanie('{{ pouzivatel.id }}', '/pouzivatelia/uprav', 'GET')">upraviť</button>
            </td>
            <td>
                <button onclick="presmerovanie('{{ pouzivatel.id }}', '/pouzivatelia', 'DELETE')">odstrániť</button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock maincontent %}

{% block footer%}
<div class="pridaj">
    <button onclick="presmerovanie(null, '/pouzivatelia/uprav', 'GET')"> Pridaj nového užívateľa</button>
</div>
{% endblock footer%}