{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<form method="post">
    {% csrf_token %}
    <div class="row">

    </div>
    {% for item in form%}
        {% if item.label == "Popis typu chyby" %}
        <div class="row">
            <div class="first">
                {{item.label}}<span class="textHviezda">*</span><br>
                {{item}}
            </div>
        {% endif %}
        {% if item.label == "Pozícia" %}
            <div class="second">
                {{item.label}}<span class="textHviezda">*</span><br>
                {{item}}
            </div>
        {% endif %}
        {% if item.label == "Druh chyby" %}
            <div class="thirt">
                {{item.label}}<span class="textHviezda">*</span><br>
                {{item}}
            </div>
        </div>
        {% endif %}
        {% if item.label == "Chybu spôsobuje" %}
            <div class="row">
                <div class="first"></div>
                <div class="second"></div>
                <div class="thirt">
                    {{item.label}}<span class="textHviezda">*</span><br>
                    {{item}}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div  class="pridaj">
        <button type="submit"> Uložiť </button>
    </div>

</form>


{% endblock maincontent %}
{% block footer%}
{% endblock footer%}