{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<table style="width: 100%">
    <tr class="nadpis">
        <td>
            Názov revízie
        </td>
        <td>
            Typ revízie
        </td>
        <td>
            Dátum poslednej revízie
        </td>
        <td>
            Dátum nadchádzajúcej revízie
        </td>
        <td>
            Vykonať revíziu
        </td>
        <td>
            Úprava
        </td>
        <td>
            Odstránenie
        </td>
    </tr>
    {% for item in revizie %}
    <tr class="items">
        <td>
            {{item.nazov_revizie}}
        </td>
        <td>
            {{item.typ_revizie}}
        </td>
        <td>
            {{item.datum_poslednej_revizie}}
        </td>
        <td>
            {{item.datum_nadchadzajucej_revizie}}
        </td>
        <td>
            <button>VYKONAŤ REVÍZIU</button>
        </td>
        <td>
            <button>UPRAVIŤ</button>
        </td>
        <td>
            <button>ODSTRÁNIŤ</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock maincontent %}

{% block footer%}
<button class="pridaj"> Pridaj nový typ</button>
{% endblock footer%}