{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<table style="width: 100%">
    <tr class="nadpis">
        <td>
            Názov revízie
        </td>
        <td>
            Typ revízie
        </td>
        <td>
            Dátum poslednej revízie
        </td>
        <td>
            Dátum nadchádzajúcej revízie
        </td>
        <td>
            Vykonať revíziu
        </td>
        <td>
            Úprava
        </td>
        <td>
            Odstránenie
        </td>
    </tr>
    {% for item in revizie %}
        {% if item.datum_nadchadzajucej_revizie < today %}
            <tr class="items">
         {% elif today < item.datum_nadchadzajucej_revizie and item.datum_nadchadzajucej_revizie <= weeks  %}
                <tr class="approach">
          {% else %}
                <tr class="done">
          {% endif %}
        <td>
            {{item.nazov_revizie}}
        </td>
        <td>
            {{item.typ_revizie}}
        </td>
        <td>
            {{item.datum_poslednej_revizie}}
        </td>
        <td>
            {{item.datum_nadchadzajucej_revizie}}
        </td>
        <td>
            <button onclick="presmerovanie( '/revizia', 'PUT', '{{ item.id }}')">VYKONAŤ REVÍZIU</button>
        </td>
        <td>
            <button onclick="presmerovanie('/revizia/pridaj', 'GET', '{{ item.id }}')">UPRAVIŤ</button>
        </td>
        <td>
             <button  id="myBtn"  onclick=" myFunction('{{ item.id }}')">
                   ODSTRÁNIŤ

             </button>


        </td>
    </tr>
    {% endfor %}

</table>
<div id="myModal" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>

                      Ste si istý, že chcete revíziu odstrániť?
                      <button onclick="presmerovanie( '/revizia', 'DELETE')" >
                          ÁNO </button>
                  </div>

                </div>
{% endblock maincontent %}

{% block footer%}
<br>
<br>
<div class="pridaj">
    <button onclick="presmerovanie('/revizia/pridaj', 'GET', 0)" > Pridaj nový typ</button>
</div>


<script>

    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById("myModal");

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

</script>
{% endblock footer%}