{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<table style="width: 100%">
    <tr class="nadpis">
            <td>
                Stav
            </td>
            <td>
                Čas
            </td>
            <td>
                Trvanie
            </td>
            <td>
                Pozícia
            </td>
            <td>
                Chybu spôsobil
            </td>
            <td>
                Popis chyby
            </td>
            <td>
                Uživateľ
            </td>
            <td>
                Dôvod
            </td>
            <td>
                Opatrenie/Oprava
            </td>
            <td>
                Náhradný diel
            </td>

            <td>
                Uprava
            </td>
            <td>
                Potvrdenie
            </td>
            <td>
                Odstránenie
            </td>

    </tr>
    {% for item in zaznamy %}

            {% if item.schvalena == True %}
                 <tr class="approach">
                    <td>
                        schvalena
                    </td>
            {% elif item.vyriesena == True %}
                <tr class="done">
                    <td>
                        vyriesena
                    </td>
            {% else %}
                <tr class="items">
                    <td>
                        nevyriesena
                    </td>
            {% endif %}
            <td>
                {{ item.vznik }}
            </td>
            {% if item.vyriesenie is not None %}
                <td>
                    {{ item.vyriesenie}}
                </td>
                {% else %}
                <td>

                </td>
            {% endif %}
            <td>
                    {{ item.miesto_na_linke.miesto}}
            </td>
            <td>
                    {{ item.sposobena_kym.kym}}
            </td>
            <td>
                   {{ item.popis}}
            </td>
            <td>
                    {{ item.pouzivatel}}
            </td>
            <td>
                    {{ item.typ_chyby.popis}}
            </td>
            <td>
                   {{ item.opatrenie}}
            </td>
            <td>
                    {{ item.nahradny_diel}}
            </td>
            <td>
                <button onclick="presmerovanie('{{ item.id }}', '/zaznamy/pridaj', 'GET')">UPRAVIŤ</button>
            </td>
            <td>
                <button>POTVRDIŤ</button>
            </td>
            <td>
                <button onclick="presmerovanie('{{ item.id }}', '/zaznamy', 'DELETE')">ODSTRÁNIŤ</button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock maincontent %}


{% block footer%}
<div class="pridaj">
    <button onclick="presmerovanie(null, '/zaznamy/pridaj', 'GET')"> Pridaj nový zaznam</button>
</div>
{% endblock footer%}