{% extends 'base.html' %}
{% load static %}
{% block maincontent %}


{% if 'linka.view_chyba' in permissions %}

<table style="width: 100%">
    <tr class="nadpis">
            <td>
                <a href="?order_by=stav">Stav</a>
            </td>
            <td>
                <a href="?order_by=cas">Čas</a>
            </td>
            <td>
                <a href="?order_by=trvanie">Trvanie</a>
            </td>
            <td>
                <a href="?order_by=pozicia">Pozícia</a>
            </td>
            <td>
                <a href="?order_by=sposobena_kym">Chybu spôsobil</a>
            </td>
            <td>
                <a href="?order_by=popis">Popis chyby</a>
            </td>
            <td>
                <a href="?order_by=uzivatel">Uživateľ</a>
            </td>
            <td>
                <a href="?order_by=dovod">Dôvod</a>
            </td>
            <td>
                <a href="?order_by=opatrenie">Opatrenie/Oprava</a>
            </td>
            <td>
                Náhradný diel
            </td>

            <td>
                Uprava
            </td>
            <td>
                Potvrdenie
            </td>
            <td>
                Odstránenie
            </td>

    </tr>


    {% for item in zaznamy %}

            {% if item.schvalena == True %}
                 <tr class="done">
                    <td>
                        vyriešená
                    </td>
            {% elif item.vyriesena == True  %}
                <tr class="approach">
                    <td>
                        vyriešená(čaká na potvrdenie)
                    </td>

            {% else %}
                <tr class="items">
                    <td>
                        nevyriešená
                    </td>
            {% endif %}
            <td>
                {{ item.vznik }}
            </td>
            {% if item.vyriesena%}
                <td>
                    {{ item.trvanie}}
                </td>
                {% else %}
                <td>

                </td>
            {% endif %}
            <td>
                    {{ item.miesto_na_linke.miesto}}
            </td>
            <td>
                    {{ item.sposobena_kym.kym}}
            </td>
            <td>
                   {{ item.popis}}
            </td>
            <td>
                    {{ item.pouzivatel}}
            </td>
            <td>
                    {{ item.dovod}}
            </td>
            <td>
                   {{ item.opatrenia}}
            </td>
            <td>
                    {{ item.nahradny_diel}}
            </td>
            <td>
            {% if 'linka.change_chyba' in permissions %}
                <button onclick="presmerovanie('/zaznamy/pridaj', 'GET', '{{ item.id }}')">UPRAVIŤ</button>
            {% endif %}
            </td>
            <td>
            {% if 'linka.can_approve_chyba' in permissions %}
                {% if not item.schvalena and  item.vyriesena == True  %}
                    <button onclick="presmerovanie( '/zaznamy/potvrd', 'GET', '{{ item.id }}')">POTVRDIŤ</button>
                {% endif %}
            {% endif %}
            </td>
            <td>
            {% if 'linka.delete_chyba' in permissions %}
                <button  id="myBtn" onclick=" myFunction('{{ item.id }}')">
                   ODSTRÁNIŤ
                </button>
                  <div id="myModal" class="modal">

                                  <!-- Modal content -->
                                  <div class="modal-content">
                                    <span class="close">&times;</span>

                                      Ste si istý, že chcete záznam odstrániť?
                                      <button onclick="presmerovanie( '/zaznamy', 'DELETE')" >
                                          ÁNO
                                      </button>
                                  </div>

                  </div>
            {% endif %}



            </td>
        </tr>
    {% endfor %}

</table>
{% endif %}


{% endblock maincontent %}


{% block footer%}
<br>
<br>
    {% if 'linka.add_chyba' in permissions %}
    <div class="pridaj" >
        <button onclick="presmerovanie('/zaznamy/pridaj', 'GET', 0)"> Pridaj nový zaznam</button>
    </div>
    {% endif %}


<script>

    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById("myModal");

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

</script>
{% endblock footer%}

